@*
   This page shows a form and allows users to add or edit a task.
*@
@{
    ViewData["Title"] = "Add Task";
}

@model AllTasks

<h1 class="text-center">@ViewBag.Title</h1>

<form method="post" class="form-custom">
    <input type="hidden" id="taskId" name="taskId" value="@Model.TaskId"/>

    <div class="row">
        <div class="col-md-12">

            <label asp-for="Name" class="col-md-3">Name</label>
            <input asp-for="Name" class="form-control" required="required"/>

        </div>
    </div>
    <div class="row">
        <div class="col-md-12">

            <label asp-for="CategoryId">Category</label>
            @Html.DropDownListFor(m => m.CategoryId, new SelectList(ViewBag.Categories, "CategoryId", "CategoryName"), "Select a Category", new { @class = "form-control" })


        </div>
    </div>

    <div class="row">
        <div class="col-md-12">

            <label asp-for="DueDate">Due Date</label>
            <input asp-for="DueDate" class="form-control"/>

        </div>
    </div>
    <div class="row">
        <div class="col-md-12">

            <label asp-for="Quadrant">Quadrant</label>
            @Html.DropDownListFor(m => m.Quadrant, new SelectList(new List<int> { 1, 2, 3, 4 }), "Select a Quadrant", new { @class = "form-control" })


        </div>
    </div>

    <div class="row">
        <div class="col-md-12">

            <label asp-for="Completed">Completed:</label>
            <div>
                <input type="radio" id="completedYes" name="Completed" value="true" asp-for="Completed" checked="checked"/>
                <label for="completedYes">Yes</label>
                <input type="radio" id="completedNo" name="Completed" value="false" asp-for="Completed"/>
                <label for="completedNo">No</label>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-md-12" style="display: inline-flex; justify-content: center;">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
</form>