@*
    This page displays a confirmation message for deleting a task.
*@
@{
}

@model AllTasks

<div class="container">
    <div class="row">
        <div class="col">
            <h2>Confirm Deletion</h2>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <h3>@Model.Name</h3>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <form method="post">

                <input type="hidden" asp-for="TaskId" />

                <button class="btn btn-danger" type="submit">Delete</button>
                <a class="btn btn-info" asp-controller="Home" asp-action="Index">Cancel</a>
            </form>
        </div>
    </div>
</div>