@{
    ViewData["Title"] = "Home Page";
}

<div class="container">

    <div class="row">
        <div class="col-1"></div>
        <div class="col"><h3>Urgent</h3></div>
        <div class="col"><h3>Not Urgent</h3></div>
    </div>

    <br />

    <div class="row">
        <div class="col-1">
            <h3 style="writing-mode: vertical-rl; transform: rotate(180deg);">
                Important
            </h3>
        </div>
        <div class="col"><p>Data here</p></div>
        <div class="col"><p>Data here</p></div>
    </div>

    <br />

    <div class="row">
        <div class="col-1">
            <h3 style="writing-mode: vertical-rl; transform: rotate(180deg);">
                Not Important
            </h3>
        </div>
        <div class="col"><p>Data here</p></div>
        <div class="col"><p>Data here</p></div>
    </div>

</div>